[profile.default]
  libs = ["lib"]
  out = "out"
  src = "src"

[fmt]
  bracket_spacing = false
  int_types = "long"
  line_length = 120
  multiline_func_header = "attributes_first"
  number_underscore = "preserve"
  quote_style = "double"
  single_line_statement_blocks = "single"
  tab_width = 2
  wrap_comments = true

[rpc_endpoints]
  mainnet = "${ETHEREUM_MAINNET_RPC}"

[etherscan]
  mainnet = { key = "${ETHEREUM_MAINNET_ETHERSCAN_API}"}
